{%load static%}
<html>
    <head>
        <title>김상효의 명함 hard</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{%static 'css/styles.css'%}">
        <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    </head>
    <body>
        <div class="main">
            <div class="flexCC profile">
                <img src="{%static 'image/sanghyo.jpg'%}" class="profile-img" alt="sanghyo">
            </div>
            <div class="introduction">
                <div class="name-text">KIM SANG HYO</div>
                <div class="sub-text">Volunteering : Samsung Dreamclass, LS 22th, HappyMove 23th</div>
                <div class="sub-text">Movie : About Time, Inside Out, Soul</div>
                <div class="sub-text">Stack : Pytorch, Django</div>
            </div>
        </div>
        <div class="bottom">
            <a href="https://github.com/SH0123" class="social-component github">
                <i class="fab fa-github fa-2x"></i>
                <span>https://github.com/SH0123</span>
            </a>
            <a href="https://www.instagram.com/sanghy0_0123/" class="social-component">
                <i class="fab fa-instagram fa-2x"></i>
                <span>https://www.instagram.com/sanghy0_0123/</span>
            </a>
        </div>
    </body>
</html>